<html>

<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "WebApp/css/bootstrap.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "WebApp/css/result.css" %}" type="text/css">
    <script src="{% static "WebApp/js/d3.min.js" %}"></script>
    <script src="{% static "WebApp/js/dimple.v2.1.6.min.js" %}"></script>
</head>

<body>
<div id="nav">
    <div id="logo">
        <a href="{% url 'index' %}"><img src="{% static "WebApp/img/logo.jpeg" %}" alt="logo"></a>
    </div>
    <ul id="navi">
        <li class="navMenu"><a href="{% url 'honeycell' %}">HoneyCell</a></li>
        <li class="navMenu"><a href="{% url 'upload' %}">New Task</a></li>
        <li class="navMenu"><a href="{% url 'preprocess' %}">Preprocessing</a></li>
        <li class="navMenu"><a href="{% url 'analytics' %}">Analytics</a></li>
        <li class="navMenu"><a href="{% url 'visualization' %}">Visualization</a></li>
        <li class="navMenu"><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
</div>

<h2 class="log"> Hello {{ user }} </h2>

<div class="container">
    <div class="row" align="center">
        <h1>This is page for editing the memo.</h1>

        <hr>

        <form action="{% url 'edit_memo' memo.id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <h3 align="center">
                        Edit memo
                    </h3>
                    <thead>
                    <tr>
                        <th colspan="2"><h3 align="center" style="color: red">
                        {% for error in errors %}
                            {{ error }}
                        {% endfor %}</h3></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <label>Memo name: </label>
                        </td>
                        <td>
                            <input type="text" name="memo_name" value="{{ memo.memo_name }}" required/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Memo description: </label>
                        </td>
                        <td>
                            <input type="text" name="memo_description" value="{{ memo.memo_description }}" required/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Memo datetime: </label>
                        </td>
                        <td>
                            <input type="hidden" name="memo_datetime_hidden" value="{{ memo.memo_datetime }}">
                            <input type="DATETIME-LOCAL" name="memo_datetime" value="{{ memo.memo_datetime }}"/>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2"><p align="center"><input type="submit" value="Save the book"></p></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </form>

        <hr>

        <h2 align="center"><a href="{% url 'show_memos' %}">Show all memos</a></h2>

        <hr>

        <h2 align="center"><a href="{% url 'show_books' %}">Show all books</a></h2>

        <hr>

        <h2 align="center"><a href="{% url 'create_new_user_using_forms' %}"><button>Create new user using form</button></a></h2>

    </div>
</div>

<h3>
    Welcome to HoneyCell WebServer!
</h3>
<form method="get" action="{% url 'logout' %}">{% csrf_token %}
    <p>
        <button type="submit">Log Out</button>
    </p>
</form>

</body>
</html>

