<html>

<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "WebApp/css/bootstrap.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "WebApp/css/result.css" %}" type="text/css">
    <script src="{% static "WebApp/js/d3.min.js" %}"></script>
    <script src="{% static "WebApp/js/dimple.v2.1.6.min.js" %}"></script>
</head>

<body>
<div id="nav">
    <div id="logo">
        <a href="{% url 'index' %}"><img src="{% static "WebApp/img/logo.jpeg" %}" alt="logo"></a>
    </div>
    <ul id="navi">
        <li class="navMenu"><a href="{% url 'honeycell' %}">HoneyCell</a></li>
        <li class="navMenu"><a href="{% url 'upload' %}">New Task</a></li>
        <li class="navMenu"><a href="{% url 'preprocess' %}">Preprocessing</a></li>
        <li class="navMenu"><a href="{% url 'analytics' %}">Analytics</a></li>
        <li class="navMenu"><a href="{% url 'visualization' %}">Visualization</a></li>
        <li class="navMenu"><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
</div>

<h2 class="log"> Hello {{ user }} </h2>

<br>

<div class="container">
    <div class="row" align="center">

        <div class="table-responsive">
            <table class="table table-hover" border="3">
                <col width="10%">
                <col width="20%">
                <col width="20%">
                <col width="30%">
                <col width="10%">
                <col width="10%">

                <thead>
                <tr>
                    <th colspan="6"><h3 align="center">Here are all the books.</h3></th>
                </tr>
                </thead>
                <tbody>
                {% for book in books%}
                    <tr>
                        <td>{{ book.book_id }}</td>
                        <td>{{ book.book_name }}</td>
                        <td>{{ book.book_description }}</td>
                        <td><a href="{{ book.book_file.url }}">{{ book.book_file }}</a></td>
                        <td><a href="{% url 'book_detail' book.book_id %}">Detail</a></td>
                        <td><a href="{% url 'delete_book' book.book_id %}">Delete</a></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

        <hr>

        <h2 align="center"><a href="{% url 'message' %}"><button>Back to save book</button></a></h2>

        <hr>

        <h2 align="center"><a href="{% url 'save_book_using_forms' %}"><button>Back to save book using forms</button></a></h2>

    </div>
</div>

<h3>
    Welcome to HoneyCell WebServer!
</h3>
<form method="get" action="{% url 'logout' %}">{% csrf_token %}
    <p>
        <button type="submit">Log Out</button>
    </p>
</form>

</body>
</html>

